* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid #fff;
    width: 621px;
    height: 383px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 600px;
    height: 359px;
}

.search-bar {
    height: 45px;
    border: 1px solid #000;
    margin-bottom: 0px;
}

.search-span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
}

.search-button {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid transparent;
}

.info-section {
    height: 315px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.info-current {
    width: 300px;
    height: 315px;
    border-right: 1px solid #000;
    padding: 16px;
}

.city-info {
    width: 265px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}

.info-locations {
    width: 300px;
}

.locations-input {
    width: 68px;
    padding-right: 18px;
    padding-bottom: 18px;
}